.app-title {
  display: flex;
  align-items: center;

  margin-bottom: 0;

  font-size: 2rem;
  text-decoration: none;

  transition: all .2s ease-in-out;

  &:hover {
    color: rgba(#000, .1);
  }

}